# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

<ol>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Java</li>
    <li>Julia</li>
    <li>Scala</li>
    <li>MATLAB</li>
</ol>

Some of the commonly used libraries used by Data Scientists include:

<ol>
    <li>NumPy</li>
    <li>Matplotlib</li>
    <li>Pandas</li>
    <li>SciPy</li>
    <li>PyTorch</li>
    <li>Seaborn</li>
</ol>

<table>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Data Science Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Apache Spark</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>D3.js</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">IBM SPSS</td>
    </tr>
  </tbody>
</table>

<h3> Below are a few examples of evaluating arithmetic expressions in Python</h3>

1. Integer division (/ /)
25//4
6
2. Exponentiation (**)
2 ** 3
8
3. Modulus Operator (%)
17 % 3
2

In [1]:
(3*4)+5

17

In [8]:
# 200 minutes 
200//60

3

List popular languages for Data Science

<ul>
    <li>Python</li>
    <li>R</li>
    <li>SQL</li>
    <li>Java</li>
    <li>Julia</li>
    <li>Scala</li>
    <li>MATLAB</li>
</ul>

<h2>Author: Anas</h2>